@media screen and (max-width:990px){
    .nav-toggle{
        display: block;
        margin-right: 10px;
    }
    .nav-links{
        display: none;
    }
    .example-card{
        width:10%
    }

    /* this is company section */
    .multiple-logos img{
        max-width: 80px;
    }
    .info p{
        font-size: 12px;
    }

    /* feature section */
    .feature-card{
        max-width: 29%;;
    }
}

@media (min-width:320px){
    .header-section{
        .header-right img{
            width: 400px;
        }
    }
}